{% extends 'app_quotes/base.html' %}

{% block title %}
  <title>{{ title }}</title>
{% endblock %}

{% block content %}
   <div class="sort-select">
      <form method="get">
        <select name="order" onchange="this.form.submit()">
          <option value="-like" {% if current_order == '-like' %}selected{% endif %}>Лайки ↓</option>
          <option value="like" {% if current_order == 'like' %}selected{% endif %}>Лайки ↑</option>

          <option value="-dislike" {% if current_order == '-dislike' %}selected{% endif %}>Дизлайки ↓</option>
          <option value="dislike" {% if current_order == 'dislike' %}selected{% endif %}>Дизлайки ↑</option>

          <option value="-views" {% if current_order == '-views' %}selected{% endif %}>Просмотры ↓</option>
          <option value="views" {% if current_order == 'views' %}selected{% endif %}>Просмотры ↑</option>

          <option value="-weight" {% if current_order == '-weight' %}selected{% endif %}>Вес ↓</option>
          <option value="weight" {% if current_order == 'weight' %}selected{% endif %}>Вес ↑</option>
        </select>
      </form>
    </div>

  <section class="popular">
      <h2>Популярные цитаты</h2>
      <div class="popular-list">
        {% for quote in quotes %}
            <div class="popular-item">
              <div>«{{ quote.text }}»</div>
              <div class="quote-source">— {{ quote.source }}</div>
              {% if current_order == 'like' %} <div class="likes">Лайков: {{ quote.like }}</div> {% endif %}
              {% if current_order == '-like' %} <div class="-likes">Лайков: {{ quote.like }}</div> {% endif %}

              {% if current_order == 'dislike' %} <div class="dislikes">Дизлайков: {{ quote.dislike }}</div> {% endif %}
              {% if current_order == '-dislike' %} <div class="-dislikes">Дизлайков: {{ quote.dislike }}</div> {% endif %}

              {% if current_order == 'views' %} <div class="views">Просмотров: {{ quote.views }}</div> {% endif %}
              {% if current_order == '-views' %} <div class="-views">Просмотров: {{ quote.views }}</div> {% endif %}

              {% if current_order == 'weight' %} <div class="views">Вес: {{ quote.weight }}</div> {% endif %}
              {% if current_order == '-weight' %} <div class="-views">Вес: {{ quote.weight }}</div> {% endif %}
            </div>
        {% endfor %}
      </div>
    </section>

    <div class="quote-buttons">
        <button id="back-btn" type="button" class="back" onclick="window.location.href='{% url 'quotes:home' %}'">
              Назад
        </button>
    </div>
{% endblock %}