{% extends 'app_quotes/base.html' %}

{% block title %}
  <title>Добавление цитаты</title>
{% endblock %}

{% block content %}
  <section class="add-quote">
      <h2>Добавить цитату</h2>
      <form method="post">
        {% csrf_token %}
        <textarea name="text" placeholder="Текст цитаты" rows="3" required></textarea>
        <input type="text" name="source" placeholder="Источник" required>
        <input type="number" name="weight" placeholder="Вес (опционально)" min="1">
        <button type="submit">Сохранить</button>
      </form>
    </section>
{% endblock %}